<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <div class="">
    <h2>PC</h2>
    <input class="checks" type="checkbox" name="E33" value="4" />4
    <input class="checks" type="checkbox" name="E34" value="5" />5
    <input class="checks" type="checkbox" name="E36" value="6" />6
  </div>

  <div class="">
    <h2>UC</h2>
    <input class="checks" type="checkbox" name="E33" value="4" />4
    <input class="checks" type="checkbox" name="E34" value="5" />5
    <input class="checks" type="checkbox" name="E36" value="6" />6
  </div>

  <div class="">
    <h2>PE</h2>
    <input class="checks" type="checkbox" name="E33" value="4" />4
    <input class="checks" type="checkbox" name="E34" value="5" />5
    <input class="checks" type="checkbox" name="E36" value="6" />6
  </div>

  <div class="">
    <h2>UE</h2>
    <input class="checks ue" type="checkbox" name="E33" value="4" />4
    <input class="checks ue" type="checkbox" name="E34" value="5" />5
    <input class="checks ue" type="checkbox" name="E36" value="6" />6
  </div>

  <button type="button" name="button" onclick="reset()">Reset</button>


  <p>Total Credits:<span id="total"></span></p>
  <div class="error" style="color:red">

  </div>
  <script src="course.js"></script>
</body>

</html>
