<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STC Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="/css/signup.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form name="loginForm" action="/login" method="post">
    <img class="mb-4" src="https://cdn.freelogovectors.net/wp-content/uploads/2019/07/vitlogo.jpg" alt="" width="100" height="87">
    <h3 class="h3 mb-3 fw-normal">Login In</h3>
    <input type="text" placeholder="Username" name="username" class="form-control">
    <input type="password" placeholder="Password" name="password" class="form-control">
    <a href="/signup">Create a new account</p>
    <input type="submit" class="mt-4 btn btn-lg btn-primary"/>
  </form>
</main> 
  </body>
</html>